<div class="container">

    <!--<div *ngIf="isEmptyCart">-->
    <!--карта пуста-->
    <!--</div>-->

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let product of productsCart;">
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><a [routerLink]="['/products', product.id]"><img
                            src="http://ukiegoods.loc/uploads/products/{{product.id}}.jpg" class="img-responsive"/></a>
                    </div>
                    <div class="col-sm-10">
                        <h4 class="nomargin"><a [routerLink]="['/products', product.id]">{{product.name}}</a></h4>
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </td>
            <td data-th="Price">{{product.price}}</td>
            <td data-th="Quantity">
                <input type="number" class="form-control text-center" #count [(ngModel)]="product.count" min="1">
            </td>
            <td data-th="Subtotal" class="text-center">
                {{ count.value * product.price }}
                <!-- currency:'$' -->
            </td>
            <td class="actions" data-th="">
                <button class="btn btn-danger btn-sm" (click)="remove(product.id)"><i
                        class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total {{ total }}</strong></td>
        </tr>
        <tr>
            <td><a [routerLink]="['/products']" class="btn btn-warning"><i class="glyphicon glyphicon-menu-left"></i>
                Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total {{ total }}</strong></td>
            <td>
                <button class="btn btn-success btn-block" (click)="goToCheckout()">Checkout <i
                        class="fa fa-angle-right"></i></button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>