<div class="container">
  <form class="auth-form" [formGroup]="authForm" (ngSubmit)="submitForm()">
    <h3 class="text-center">{{title}}</h3>
    <p class="text-center">
      <a *ngIf="authType === 'login'" routerLink="/registration">Need an account?</a>
      <a *ngIf="authType !== 'login'" routerLink="/login">Have an account?</a>
    </p>
    <div class="form-group" *ngIf="authType !== 'login'">
      <label>User name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter username">
      <p *ngIf="authForm.get('name').invalid && authForm.get('name').touched ">Name is empty!</p>
    </div>
    <div class="form-group" [ngClass]="{'has-danger': authForm.get('email').invalid && authForm.get('email').touched}">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
      <p *ngIf="authForm.get('email').invalid && authForm.get('email').touched">Enter correct email!</p>
    </div>
    <div class="form-group" [ngClass]="{'has-danger': authForm.get('password').invalid && authForm.get('password').touched}">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
      <p *ngIf="authForm.get('password').invalid && authForm.get('password').touched ">Password is empty!</p>
    </div>
    <div class="form-group" *ngIf="authType !== 'login'">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Enter password">
      <p *ngIf="authForm.get('password_confirmation').invalid && authForm.get('password_confirmation').touched ">Password is empty!</p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Sign in</button>
    </div>
  </form>
</div>