<hr>
<form [formGroup]="addCatFrom" (ngSubmit)="addProductSubmit()">
    <div class="form-group">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Category name">
        <div class="alert alert-danger" role="alert" *ngIf="addCatFrom.get('name').invalid && addCatFrom.get('name').touched">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Category name is empty!
        </div>
    </div>
    <button type="submit" [disabled]="addCatFrom.invalid" class="btn btn-primary">Add</button>
</form>

<hr>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <app-category-editor *ngFor="let category of categories;" [category]="category"
                         (onEdit)="editing()"></app-category-editor>
    </tbody>
</table>
